language: cpp

matrix:
  include:
    - os: linux
      dist: trusty
      sudo: required
    - os: osx

install:
 - uname -a
 - if [[ "`uname`" == "Darwin" ]]; then ci/ci-install-osx.sh; fi
 - if [[ "`uname`" == "Linux" ]]; then ci/ci-install-linux.sh; fi

script:
 - echo "inside script"
 - if [[ "`uname`" == "Darwin" ]]; then ci/ci-build-osx.sh; fi
 - if [[ "`uname`" == "Linux" ]]; then ci/ci-build-linux.sh; fi
